version: '3.9'

services:
  auth-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: auth-service
    ports:
      - "3001:3001"
    environment:
      PORT: 3001
      DATABASE_URL: ${DATABASE_URL}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_TTL: ${REDIS_TTL}
      RABBITMQ_URL: ${RABBITMQ_URL}
      RABBITMQ_QUEUE: ${RABBITMQ_QUEUE}
      NODE_ENV: production
      IS_PUBLIC_KEY: ${IS_PUBLIC_KEY}
      JWT_PRIVATE_KEY: ${JWT_PRIVATE_KEY}
      JWT_PUBLIC_KEY: ${JWT_PUBLIC_KEY}
      JWT_EXPIRE_IN: ${JWT_EXPIRE_IN}
      JWT_REFRESH_EXPIRE_IN: ${JWT_REFRESH_EXPIRE_IN}
    command: sh -c "npx prisma migrate deploy && node dist/main"
    networks:
      my_custom_network:
        ipv4_address: ${APP_IP}
    restart: always
    healthcheck:
      test: ["CMD", "node", "dist/health.js"]  # hoặc dùng HTTP
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M
        reservations:
          cpus: '0.25'
          memory: 128M

networks:
  my_custom_network:
    external: true